<html>
	<head>
		<title>To Do App</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<style type="text/css">

		   #login,#register{
		   	border: solid 2px black;
		   }
		   form{
		   	margin: auto;
		   }
		   button{
		   	margin-left: 5px;
		   }
		   .fa-star{
		   	color: gray;
		   	cursor: pointer;
		   }
		   

		</style>
	</head>
	<body>
		<nav class="nav navbar navbar-light ">
			<span class="navbar-brand">TO DO</span>


			<button id="logout-btn" class="btn">logout</button>	
		</nav>	

		<div class="container">

			<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
			  <li class="nav-item">
			    <a class="nav-link active" id="pills-notes-tab" data-toggle="pill" href="#pills-notes" role="tab" aria-controls="pills-notes" aria-selected="true">Notes</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" id="pills-meetings-tab" data-toggle="pill" href="#pills-meetings" role="tab" aria-controls="pills-meetings" aria-selected="false">Meetings</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" id="pills-calender-tab" data-toggle="pill" href="#pills-calender" role="tab" aria-controls="pills-calender" aria-selected="false">Calender</a>
			  </li>
			</ul>

			<div class="tab-content" id="pills-tabContent">
			  <div class="tab-pane fade show active" id="pills-notes" role="tabpanel" aria-labelledby="pills-notes-tab">
			  	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
				  Add Something
				</button>
				  	<div id="notes">
						<%if(notes){ %>
						<% for(var i=0;i<notes.length;i++){ %>
						<div class="notes card">
							<div class="card-header">
								<strong><%= notes[i].title %></strong>
							</div>
							<div class="card-body">
								<div class="description">
									<%= notes[i].description %>
								</div>
								<div class="priority">
									<%= notes[i].priority %>
								</div>	
							</div>
							<div class="card-footer">
								<button class="btn btn-default"><i class="fas fa-pen notes-mod"></i></button>
								<button class="btn btn-default"><i class="far fa-trash-alt notes-del"></i></button>
							</div>
							
						</div>
						<% } }%>
					</div>
				</div>


			  <div class="tab-pane fade" id="pills-meetings" role="tabpanel" aria-labelledby="pills-meetings-tab">
			  	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#meetingsModal">
				  Add an Appointment
				</button>
				  	<div id="meetings">
						<%if(meetings){ %>
						<% for(var i=0;i<meetings.length;i++){ %>
						<div class="meetings card">
							<div class="card-header">
								<strong><%= meetings[i].title %></strong>
							</div>
							<div class="card-body">
								<div class="description">
									<%= meetings[i].description %>
								</div>
								<div class="with">
									with:<%= meetings[i].with %>
								</div>	
								<div class="date">
									Date : <%= meetings[i].date %>
								</div>
								<div class="time">
									Time:<%= meetings[i].time %>
								</div>
							</div>
							<div class="card-footer">
								<button class="btn btn-default"><i class="fas fa-times meetings-del"></i></button>
							</div>
							
						</div>
						<% } }%>
					</div>



			  </div>
			  <div class="tab-pane fade" id="pills-calender" role="tabpanel" aria-labelledby="pills-calender-tab">
			  	
				<div class="">
				    <div class="card">
				        <h3 class="card-header" id="monthAndYear"></h3>
				        <table class="table table-bordered table-responsive-sm" id="calendar">
				            <thead>
				            <tr>
				                <th>Sun</th>
				                <th>Mon</th>
				                <th>Tue</th>
				                <th>Wed</th>
				                <th>Thu</th>
				                <th>Fri</th>
				                <th>Sat</th>
				            </tr>
				            </thead>

				            <tbody id="calendar-body">

				            </tbody>
				        </table>

				        <div class="form-inline">

				            <button class="btn btn-outline-primary col-sm-6" id="previous" >Previous</button>

				            <button class="btn btn-outline-primary col-sm-6" id="next" >Next</button>
				        </div>
				        <br/>
				        <form class="form-inline">
				            <label class="lead mr-2 ml-2" for="month">Jump To: </label>
				            <select class="form-control col-sm-4" name="month" id="month">
				                <option value=0>Jan</option>
				                <option value=1>Feb</option>
				                <option value=2>Mar</option>
				                <option value=3>Apr</option>
				                <option value=4>May</option>
				                <option value=5>Jun</option>
				                <option value=6>Jul</option>
				                <option value=7>Aug</option>
				                <option value=8>Sep</option>
				                <option value=9>Oct</option>
				                <option value=10>Nov</option>
				                <option value=11>Dec</option>
				            </select>


				            <label for="year"></label><select class="form-control col-sm-4" name="year" id="year" >
				            <option value=1990>1990</option>
				            <option value=1991>1991</option>
				            <option value=1992>1992</option>
				            <option value=1993>1993</option>
				            <option value=1994>1994</option>
				            <option value=1995>1995</option>
				            <option value=1996>1996</option>
				            <option value=1997>1997</option>
				            <option value=1998>1998</option>
				            <option value=1999>1999</option>
				            <option value=2000>2000</option>
				            <option value=2001>2001</option>
				            <option value=2002>2002</option>
				            <option value=2003>2003</option>
				            <option value=2004>2004</option>
				            <option value=2005>2005</option>
				            <option value=2006>2006</option>
				            <option value=2007>2007</option>
				            <option value=2008>2008</option>
				            <option value=2009>2009</option>
				            <option value=2010>2010</option>
				            <option value=2011>2011</option>
				            <option value=2012>2012</option>
				            <option value=2013>2013</option>
				            <option value=2014>2014</option>
				            <option value=2015>2015</option>
				            <option value=2016>2016</option>
				            <option value=2017>2017</option>
				            <option value=2018>2018</option>
				            <option value=2019>2019</option>
				            <option value=2020>2020</option>
				            <option value=2021>2021</option>
				            <option value=2022>2022</option>
				            <option value=2023>2023</option>
				            <option value=2024>2024</option>
				            <option value=2025>2025</option>
				            <option value=2026>2026</option>
				            <option value=2027>2027</option>
				            <option value=2028>2028</option>
				            <option value=2029>2029</option>
				            <option value=2030>2030</option>
				        </select></form>
				    </div>
				</div>




			  </div>
			</div>  
			

			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Add a note</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <form id="addition notes">
						<div class="form-group">
						<input type="text" placeholder="Title" name="title" id="title" class="form-control" required="true">
						</div>
						<div class="form-group">
						<input type="text" name="description" placeholder="Description" id="description" class="form-control"required="true">
						</div>
						<div class="form-group" id="ratings">
							Priotiy : 
							<span class="fa fa-star" id="1"></span>
							<span class="fa fa-star" id="2"></span>
							<span class="fa fa-star" id="3"></span>
							<span class="fa fa-star" id="4"></span>
							<span class="fa fa-star" id="5"></span>
						</div>
					</form>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-primary" id="add-btn">Add</button>
			      </div>
			    </div>
			  </div>
			</div>
			
			

			<!--modification modal -->
			<div class="modal fade" id="modificationModal" tabindex="-1" role="dialog" aria-labelledby="modificationModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Modify</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <form id="modification notes">
						<div class="form-group">
						<input type="text" placeholder="Title" name="title" id="mod-title" class="form-control" required="true">
						</div>
						<div class="form-group">
						<input type="text" name="description" placeholder="Description" id="mod-description" class="form-control"required="true">
						</div>
						<div class="form-group" id="mod-ratings">
							Priotiy : 
							<span class="fa fa-star" id="1"></span>
							<span class="fa fa-star" id="2"></span>
							<span class="fa fa-star" id="3"></span>
							<span class="fa fa-star" id="4"></span>
							<span class="fa fa-star" id="5"></span>
						</div>
					</form>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-primary" id="mod-btn">Modify</button>
			      </div>
			    </div>
			  </div>
			</div>


			<!--meetings modal -->
			<div class="modal fade" id="meetingsModal" tabindex="-1" role="dialog" aria-labelledby="meetingsModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="meetingsModalLabel">Add an Appointment</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true" id="meeting-modal-close">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <form id="addition-meetings" >
			        	<div id="no-meeting-title-error" style="display:none">
							Title is required
						</div>
						<div class="form-group">
							<input type="text" placeholder="Title" name="meeting-title" id="meeting-title" class="form-control" required="true">
						</div>
						<div id="no-meeting-description-error" style="display:none">
							Description is required
						</div>
						<div class="form-group">
							<input type="text" name="meeting-description" placeholder="Description" id="meeting-description" class="form-control"required="true">
						</div>
						<div id="no-user-error" style="display:none">
							username not found
						</div>
						<div id="no-meeting-with-error" style="display:none">
							Username is required
						</div>
						<div class="form-group">
							<input type="text" name="meeting-with" placeholder="Enter the appointee's username" id="meeting-with" class="form-control"required="true">
						</div>
						<div id="no-meeting-date-error" style="display:none">
							Date is required
						</div>
						<div class="form-group">
							<input type="date" name="meeting-date" id="meeting-date" required="true">
						</div>
						<div id="no-meeting-time-error" style="display:none">
							Time is required
						</div>
						<div class="form-group">
							<input type="time" name="meeting-time" id="meeting-time" required="true">
						</div>
						
					</form>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-primary" id="meeting-add-btn">Add</button>
			      </div>
			    </div>
			  </div>
			</div>

			<!-- calender modal -->
			<div class="modal fade" id="calenderModal" tabindex="-1" role="dialog" aria-labelledby="calenderModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="calenderModalLabel">On this date</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body" id="calender-modal-body">
			        
			      </div>
			      <div class="modal-footer">
			      	<span><strong>Add a meeting</strong></span>
				  	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#meetingsModal" id="calender-appointment-add">
					  Add an Appointment
					</button>
			      </div>
			    </div>
			  </div>
			</div>



	
	</div>
		
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script type="text/javascript " src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	<script type="text/javascript" src="/js/profile.js"></script>
	
	</body>
</html>